{{set . "title" "Home"}}
{{template "header.html" .}}

<h1>Your URL :</h1>

<form action="./url" method="post">
	<label for="url">URL :</label>
	<input id="url" name="url" placeholder="Link to shrten" type="text"/>
</form>

<div id="urls">
	<table>
		<th>
			<tr>Complete URL</tr>
			<tr>Shortened URL</tr>
			<tr>Nomber of Redirections</tr>
		</th>
		{{ range .urls }}
			<li>
			{{ url_string . }}
			</li>
		{{ else }}
			<li>Pas d'URL réduite</li>
		{{ end }}
	</table>
</div>

{{template "footer.html" .}}

